{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %} 

{% block title %}
<title>Cambiar contraseña | Jaguarete Kaa</title>    
{% endblock title %}

{% block content %}
<section class="section-content padding-y">
    <div class="card mx-auto border-dark" style="max-width:520px; ">
        <div class="card-header bg-dark">
            <p class="text-light">Cambiar contraseña</p>
        </div>
    <div class="card-body">
        <form method="POST">
            {% csrf_token %}
            {{form|crispy}}
            <button type="submit" class="btn btn-primary">Modificar</button>
        </form>
    </div>
    </div>
</section>
{% endblock content %}
    