@media (max-width: 1007px) {
  /* tablet devices */

  .table-shopping-cart tr td:first-child {
    width: 250px;
  }

  .table-shopping-cart .itemside .info {
    padding: 0;
  }

  .table-shopping-cart .itemside .aside {
    display: none;
  }

  /* footer section */
  .footer-bottom{
    text-align: center;
  }

  .footer-bottom div{
    margin-bottom: 5px;
  }

}

@media all and (max-width: 640px) {
  /* mobile devices */

  .section-header .logo {
    max-height: 40px;
    width: auto;
  }

  .section-header .header-main .brand-wrap {
    margin-bottom: 1rem;
    display: inline-block;
  }

  .section-header .header-main .search {
    margin-bottom: 1rem;
  }

  .navbar-expand .navbar-collapse {
    flex-direction: column;
  }
 
  /* footer section */
  .footer-bottom{
    text-align: center;
  }

  .footer-bottom div{
    margin-bottom: 5px;
    font-size: 0.9rem;
  }
}