{% load static %}

<footer class="section-footer border-top">
	<div class="container">
		<section class="footer-bottom  row align-items-center">
			<div class="col-md-3">
				<p>Design by: Mariano Chavez</p>
			</div>
			<div class="col-md-6 text-md-center">
				<a href="" class="text-dark"><i class="fab fa-2x px-2 fa-facebook"></i></a>
				<a href="" class="text-dark"><i class="fab fa-2x px-2 fa-twitter"></i></a>
				<a href="" class="text-dark"><i class="fab fa-2x px-2 fa-instagram"></i></a>
				<a href="" class="text-dark"><i class="fab fa-2x px-2 fa-youtube"></i></a>
				<a href="" class="text-dark"><i class="fab fa-2x px-2 fa-google-play"></i></a>
				<a href="" class="text-dark"><i class="fab fa-2x px-2 fa-app-store-ios"></i></a>
			</div>
			<div class="col-md-3 text-md-right">
				<p> &copy 2021 JAGUARETE KAA S.A. </p>
			</div>
		</section>
	</div>
</footer>

