{% load static %}



<header class="section-header">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark"> <a class="navbar-brand" href="#" data-abc="true">BBBOOTSTRAP</a> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active"> <a class="nav-link" href="#" data-abc="true">Home <span class="sr-only">(current)</span></a> </li>
            <li class="nav-item dropdown"> 
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categorias
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for category in links %}
                <a class="dropdown-item" href="{{category.get_url}}">{{category.name}}</a>
                {% endfor %}
              </div>
            </li>
            <li class="nav-item"> <a class="nav-link" href="#" data-abc="true">Pricing</a> </li>
            <li class="nav-item"> <a class="nav-link" href="#" data-abc="true">Social</a> </li>
        </ul>
        <form action="{% url 'search' %}" class="search" method="GET">
          <div class="input-group w-100">
            {% if 'search' in request.path %}
            <input type="text" class="form-control search-form" style="width:55%;" placeholder="Buscar producto" name="keyword" value="{{keyword}}"/>
            {% else %}
              <input type="text" class="form-control search-form" style="width:55%;" placeholder="Buscar producto" name="keyword"/>
            {%endif%}
            <div class="input-group-append">
              <button class="btn btn-primary search-button" type="submit"><i class="fa fa-search"></i></button>
            </div>
          </div>
        </form>
        <form action="#" class="search-wrap">
          <div class="input-group w-100"> 
              <input type="text" class="form-control search-form" style="width:55%;" placeholder="Search">
              <div class="input-group-append"> <button class="btn btn-primary search-button" type="submit"> <i class="fa fa-search"></i> </button> </div>
          </div>
      </form>
        <div class="col-lg-3 col-sm-6 col-8 order-2 order-lg-3">
          <div class="d-flex justify-content-end mb-3 mb-lg-0">
            <div class="widget-header">
              <small class="title text-muted">Bienvenido Usuario!</small>
              <div>
                <a href="./signin.html">Sign in</a>
                <span class="dark-transp"> | </span>
                <a href="./register.html"> Register</a>
              </div>
            </div>
            <a href="{% url 'cart' %}" class="widget-header pl-3 ml-3">
              <div class="icon icon-sm rounded-circle border">
                <i class="fa fa-shopping-cart"></i>
              </div>
              <span class="badge badge-pill badge-danger notify">{{cart_count}}</span>
            </a>
          </div>
        </div> 
      </div>
  </nav>
  
  <section class="header-main border-bottom">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-2 col-md-3 col-6">
          <a href="{% url 'home' %}" class="brand-wrap">
            <img class="logo" src="{% static './images/logo.png'%}" />
          </a>
          <!-- brand-wrap.// -->
        </div>
        <div class="col-lg col-sm col-md col-6 flex-grow-0">
          <div class="category-wrap dropdown d-inline-block float-right">
            <button type="button"class="btn btn-primary dropdown-toggle"data-toggle="dropdown">Categorias</button>
            <div class="dropdown-menu">
              {% for category in links %}
              <a class="dropdown-item" href="{{category.get_url}}">{{category.name}}</a>
              {% endfor %}
            </div>
          </div>
          <!-- category-wrap.// -->
        </div>
        <!-- col.// -->
        <a href="{% url 'store' %}" class="btn btn-outline-primary">Store</a>
        <a href="{% url 'store' %}" class="btn btn-outline-primary">Acerca de</a>
        <a href="{% url 'store' %}" class="btn btn-outline-primary">Contacto</a>

        <!-- Search bar -->
        <div class="col-lg col-md-6 col-sm-12 col">
          <form action="{% url 'search' %}" class="search" method="GET">
            <div class="input-group w-100">
              {% if 'search' in request.path %}
              <input type="text" class="form-control" style="width: 60%" placeholder="Search" name="keyword" value="{{keyword}}"/>
              {% else %}
                <input type="text" class="form-control" style="width: 60%" placeholder="Search" name="keyword"/>
              {%endif%}
              <div class="input-group-append">
                <button class="btn btn-primary" type="submit">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
          </form>
        </div>

        <!-- Auth Section -->
        <div class="col-lg-3 col-sm-6 col-8 order-2 order-lg-3">
          <div class="d-flex justify-content-end mb-3 mb-lg-0">
            <div class="widget-header">
              <small class="title text-muted">Welcome guest!</small>
              <div>
                <a href="./signin.html">Sign in</a>
                <span class="dark-transp"> | </span>
                <a href="./register.html"> Register</a>
              </div>
            </div>
            <a href="{% url 'cart' %}" class="widget-header pl-3 ml-3">
              <div class="icon icon-sm rounded-circle border">
                <i class="fa fa-shopping-cart"></i>
              </div>
              <span class="badge badge-pill badge-danger notify">{{cart_count}}</span>
            </a>
          </div>
          <!-- widgets-wrap.// -->
        </div>
        <!-- col.// -->
      </div>
      <!-- row.// -->
    </div>
    <!-- container.// -->
  </section>
  <!-- header-main .// -->
</header>
<!-- section-header.// -->
