{% load static %}

<link href="{% static 'css/navbar.css' %}" rel="stylesheet" type="text/css" />


<header class="section-header">
    <section class="header-main">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-5"> <a href="{% url 'home' %}" class="brand-wrap" data-abc="true">
                  <img class="img-fluid" src="{% static './images/logo_transparent.png'%}" /> </a>     
                </div>
                <div class="col-xl-6 col-lg-6 col-md-5 col-sm-8 d-none d-md-block">
                    <form action="{% url 'search' %}" class="search" method="GET">
                        <div class="input-group w-100">
                          {% if 'search' in request.path %}
                          <input type="text" class="form-control search-form" style="width:55%;" placeholder="Buscar producto" name="keyword" value="{{keyword}}" required/>
                          {% else %}
                            <input type="text" class="form-control search-form" style="width:55%;" placeholder="Buscar producto" name="keyword"/>
                          {%endif%}
                          <div class="input-group-append">
                            <button class="btn btn-primary search-button" type="submit"><i class="fa fa-search"></i></button>
                          </div>
                        </div>
                      </form>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-8 col-7">
                    <div class="d-flex justify-content-end mb-3 mb-lg-0">
                        <div class="widget-header">
                          {% if user.is_authenticated %}
                            <div class="row">
                              <div class="col text-right">
                                <p class="h4 mr-0">Hola {{user.username}}!</p>
                              </div>
                            </div>
                            <div class="row">
                              <a href="">Mi Cuenta</a>
                              <span class="dark-transp"> | </span>
                              <a  href="{% url 'logout' %}">Desconectarme</a>
                            </div>
                          {% else %}
                            <small class="title ">Ingresá para utilizar la tienda!</small>
                            <div>
                              <a href="{% url 'login' %}">Iniciar Sesion</a>
                              <span class="dark-transp"> | </span>
                              <a href="{% url 'registro' %}"> Registrarse</a>
                            </div>
                          {% endif %}
                        </div>
                        <a href="{% url 'cart' %}" class="widget-header pl-3 ml-3">
                          <div class="icon icon-sm rounded-circle border border-dark">
                            <i class="fa fa-shopping-cart"></i>
                          </div>
                          <span class="badge badge-pill badge-danger notify">{{cart_count}}</span>
                        </a>
                      </div>
                </div>
            </div>
        </div>
    </section>
    <nav class="navbar navbar-expand-md navbar-main border-bottom">
      <div class="container-fluid">
          <form action="{% url 'search' %}" method="GET" class="d-md-none my-2" >
              <div class="input-group"> 
                  {% if 'search' in request.path %}
                      <input type="text" class="form-control" placeholder="Buscar producto" name="keyword" value="{{keyword}}"/>
                  {% else %}
                      <input type="text" class="form-control" placeholder="Buscar producto" name="keyword"/>
                  {%endif%}
                  <div class="input-group-append"> <button type="submit" class="btn btn-secondary"> <i class="fa fa-search"></i> </button> </div>
              </div>
          </form> 
          <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#dropdown6" aria-expanded="false"> <span class="navbar-toggler-icon"></span> </button>
          <div class="navbar-collapse collapse" id="dropdown6">
              <ul class="navbar-nav mx-auto">
                <li class="nav-item"> <a class="nav-link active" href="{% url 'home' %}" data-abc="true">Home</a> </li>  
                <li class="nav-item dropdown"> 
                  <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Categorias
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% for category in links %}
                    <a class="dropdown-item" href="{{category.get_url}}">{{category.name}}</a>
                    {% endfor %}
                  </div>
                </li>
                <li class="nav-item"> <a class="nav-link" href="" data-abc="true">Acerca De</a> </li>
                <li class="nav-item"> <a class="nav-link" href="" data-abc="true">Contacto</a> </li>
                
                {% if user.is_authenticated and user.is_staff %}
                  <li class="nav-item"> <a class="nav-link" href="" data-abc="true">Nuevo Producto</a> </li>
                {% endif %}
              </ul>
          </div>
      </div>
    </nav>
</header>