{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>Nosotros | Jaguarete Kaa</title>
{% endblock title %}
  

{% block content %}
<div class="image-aboutus-banner">
    <div class="container">
     <div class="row">
         <div class="col-md-12">
          <h1 class="lg-text">Nosotros</h1>
          <p> Somos una empresa destinada a la venta de productos de forma online, con el fin de llegar a todos los rincones del país.
            Además, contamos con centros de distribución ubicados en puntos estratégicos para que la velocidad del envió sea lo más rápida posible.
            Cada envió se encuentra monitoreado satelitalmente, brindándote en tiempo real la ubicación de tu compra.
          </p>
        </div>
     </div>
    </div>
 </div>
 <div class="image-world-banner border-top" >
    <div class="container">
     <div class="row">
         <div class="col-md-12">
          <h1 class="lg-text">Nuestra misión con el planeta</h1>
          <p>Nos focalizamos en disminuir la contaminación por desechos, nuestros embalajes son biodegradables, cuentan con tecnología de ultima generación
            reduciendo en un 75% el tiempo de degradación. También nuestras plantas de distribución cuentan con paneles solares posibilitando el uso de
            energías renovables. Contamos con un área de investigación que se encarga de generar nuevas tecnologías amigables al medio-ambiente.
          </p>
        </div>
     </div>
    </div>
 </div>
 <div class="image-shipping-banner border-top">
    <div class="container">
     <div class="row">
         <div class="col-md-12">
          <h1 class="lg-text">Globalización</h1>
          <p>Estamos seguros que expandirse hacia nuevos mercados es la mejor forma de actualizarse, por eso, creamos nuevas rutas de comercio
            conectándonos con el mundo entero. Por eso te traemos el producto que vos necesitas desde ese rincón del mundo, en el menor tiempo
            posible.
          </p>
        </div>
     </div>
    </div>
 </div>
{% endblock content %}
    
