{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}
    <title>Contacto | Jaguarete Kaa</title>
{% endblock title %}
    

{% block content %}


{% if sended %}
    <section class="section-content padding-y">
        <div class="card mx-auto border-dark" style="max-width:520px; ">
            <div class="card-header bg-dark">
                <p class="text-light">{{sended}}</p>
            </div>
        <div class="card-body text-center">
            <p>Tu mensaje ha sido enviado correctamente.</p>
            <a href="{% url 'home' %}" class="btn btn-lg btn-success">Ir al Inicio</a>
        </div>
    </div>
    </section>
{% else %}
    <section class="section-content padding-y">
        <div class="card mx-auto border-dark" style="max-width:520px; ">
            <div class="card-header bg-dark">
                <p class="text-light">Contactanos</p>
            </div>
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                    <div class="form-row">
                        <div class="col form-group">
                            <label class="font-weight-bold">Email:</label>
                            {% if user.is_authenticated %}
                                <!-- <p class="form-control">{{user.email}}</p> -->
                                <input type="email" class="form-control" name="from_email" placeholder="{{user.email}}" value="{{user.email}}">
                            {% else %}
                                {{form.from_email | as_crispy_field}}
                                {{from.from_email.errors}}
                            {% endif %} 
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col form-group">
                            <label class="font-weight-bold">Asunto:</label>
                            {{form.subject | as_crispy_field}} 
                            {{from.subject.errors}}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col form-group">
                            <label class="font-weight-bold">Mensaje:</label>
                            {{form.message | as_crispy_field}}
                            {{from.message.errors}}
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block"> Enviar  </button>
                    </div>
            </form>
        </div>
        </div>
    </section>

{% endif %}
{% endblock content %}
    