{% extends 'base.html' %}
{% load static %}

{% block content %}
	
<section class="section-intro home-banner">
		<ul class="rslides">
			<li><img src="{% static './images/banners/banner1.jpg' %}" /></li>
			<li><img src="{% static './images/banners/banner5.jpeg' %}" /></li>
			<li><img src="{% static './images/banners/banner3.jpg' %}" /></li>
			<li><img src="{% static './images/banners/banner4.jpg' %}" /></li>
		</ul>	
</section>
<section class="section-name padding-y-sm">
	<div class="container">
		<div class="section-heading border-bottom">
			<a href="{% url 'store'%}" class="btn btn-outline-primary float-right">Ver Todos</a>
			<h3 class="section-title">Ultimos Productos</h3>
		</div>
		<div class="row">
			{% for product in products %}
				{% if forloop.counter <= 6 %}
				<div class="col-md-4">
					<div class="card card-product-grid">
						<a href="{{product.get_url}}">
							{% if product.image_link %}
								<img class="card-img-top border-bottom" src="{{product.image_link}}">
							{% else %}
								<img class="card-img-top border-bottom" src="{{product.image.url}}">
							{% endif %}
						</a> 
						<div class="info-wrap">
							<div class="fix-height">
								<a href="{{product.get_url}}" class="title-text">{{product.title}}</a>
								<div class="mt-2">
									<span class="price">$ {{product.price}}</span>
								</div>
							</div>
							<!-- <div class="card-footer">
							<a href="{{ product.get_url }}" class="btn btn-block btn-dark">Ver producto</a>
							</div> -->
						</div>
					</div>	
				</div>
				{% endif %}
			{% endfor %}
		</div>	
			<!-- Product List - not implemented -->
			<!-- <div class="section-heading border-bottom">
				<h3 class="section-title">Mas Productos</h3>
			</div>
			<div class="container">
					{% for product in products %}
						{% if forloop.counter > 4 and forloop.counter <= 10%}
						<div class="row align-items-center border-bottom pb-2">
							<div class="col-2">
								<a href="{{product.get_url}}" class="title">{{product.title}}</a></td>
							</div>
							<div class="col-6">
								<div class="text-home">
									{{product.description}}
								</div>
							</div>
							<div class="col-2 price text-center">
								$ {{product.price}}
							</div>
							<div class="col-2 text-right">
								<a href="{{ product.get_url }}" class="btn btn-dark">Ver producto</a></td>
							</div>
						</div>
						{% endif %}
					{% endfor %}	
			</div> -->
		</div>
	</div>
</section>

</body>
<script>
	$(function() {
		$(".rslides").responsiveSlides({
			auto: true,             // Boolean: Animate automatically, true or false
			speed: 500,             // Integer: Speed of the transition, in milliseconds
			timeout: 3000,          // Integer: Time between slide transitions, in milliseconds
			pager: false,           // Boolean: Show pager, true or false
			nav: false,             // Boolean: Show navigation, true or false
			random: false,          // Boolean: Randomize the order of the slides, true or false
			pause: false,           // Boolean: Pause on hover, true or false
			pauseControls: true,    // Boolean: Pause when hovering controls, true or false
			prevText: "Previous",   // String: Text for the "previous" button
			nextText: "Next",       // String: Text for the "next" button
			maxwidth: "",           // Integer: Max-width of the slideshow, in pixels
			navContainer: "",       // Selector: Where controls should be appended to, default is after the 'ul'
			manualControls: "",     // Selector: Declare custom pager navigation
			namespace: "rslides",   // String: Change the default namespace used
			before: function(){},   // Function: Before callback
			after: function(){}     // Function: After callback
			});
	});
  </script>
</html>

{% endblock content %}
	