{% extends 'base.html' %}
{% load static %}

{% block content %}
	
<section class="section-intro padding-y-sm">
	<div class="container">
		<ul class="rslides">
			<li><img src="{% static './images/banners/banner1.jpg' %}" /></li>
			<li><img src="{% static './images/banners/banner5.jpeg' %}" /></li>
			<li><img src="{% static './images/banners/banner3.jpg' %}" /></li>
			<li><img src="{% static './images/banners/banner4.jpg' %}" /></li>
		</ul>
	</div>
</section>
<section class="section-name padding-y-sm">
	<div class="container">
		<header class="section-heading">
			<a href="{% url 'store'%}" class="btn btn-outline-primary float-right">Ver Todos</a>
			<h3 class="section-title">Ultimos Productos</h3>
		</header>
		<div class="row">
			{% for product in products %}
				{% if forloop.counter <= 4 %}
					<div class="col-md-3">
						<div class="card card-product-grid">
							<a href="{{product.get_url}}" class="img-wrap"> <img src="{{product.image.url}}"> </a>
							<figcaption class="info-wrap">
								<div class="fix-height">
									<a href="{{product.get_url}}" class="title">{{product.title}}</a>
									<div class="price-wrap mt-2">
										<span class="price">$ {{product.price}}</span>
									</div>
								</div>
								<a href="{{ product.get_url }}" class="btn btn-block btn-primary">Ver producto</a>
							</figcaption>
						</div>
					</div>
				{% endif %}
			{% endfor %}
			</div>	
			<header class="section-heading">
				<h3 class="section-title">Mas Productos</h3>
			</header>
			<table class="table table-striped">
				<tbody>
						{% for product in products %}
							{% if forloop.counter > 4 and forloop.counter <= 10%}
							<tr>
								<td><a href="{{product.get_url}}" class="title">{{product.title}}</a></td>
								<td>{{product.description}}</td>
								<td>$ {{product.price}}</td>
								<td class="text-right"><a href="{{ product.get_url }}" class="btn btn-primary">Ver producto</a></td>
							</tr>
							{% endif %}
						{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</section>

</body>
<script>
	$(function() {
		$(".rslides").responsiveSlides({
			auto: true,             // Boolean: Animate automatically, true or false
			speed: 500,             // Integer: Speed of the transition, in milliseconds
			timeout: 5000,          // Integer: Time between slide transitions, in milliseconds
			pager: false,           // Boolean: Show pager, true or false
			nav: false,             // Boolean: Show navigation, true or false
			random: false,          // Boolean: Randomize the order of the slides, true or false
			pause: false,           // Boolean: Pause on hover, true or false
			pauseControls: true,    // Boolean: Pause when hovering controls, true or false
			prevText: "Previous",   // String: Text for the "previous" button
			nextText: "Next",       // String: Text for the "next" button
			maxwidth: "",           // Integer: Max-width of the slideshow, in pixels
			navContainer: "",       // Selector: Where controls should be appended to, default is after the 'ul'
			manualControls: "",     // Selector: Declare custom pager navigation
			namespace: "rslides",   // String: Change the default namespace used
			before: function(){},   // Function: Before callback
			after: function(){}     // Function: After callback
			});
	});
  </script>
</html>

{% endblock content %}
	