{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>{{single_product.title}} | Jaguarete Kaa</title>
{% endblock title %}
	

{% block content %}
     
<section class="section-content padding-y bg">
	<div class="container">
		<div class="card">
			<div class="row no-gutters">
				<aside class="col-md-6">
		<article class="gallery-wrap"> 
			<div class="img-big-wrap">
				{% if single_product.image_link %}
					<img class="img-fluid" src="{{single_product.image_link}}">
				{% else %}
					<img class="img-fluid" src="{{single_product.image.url}}">
				{% endif %}
			</div> 
			
		</article> 
				</aside>
				<main class="col-md-6 border-left">
					
					{% if user.is_staff %}
					<div class="row ">
						<div class="col text-right mr-2 mt-2">
							<a href="{% url 'product_edit' single_product.slug %}" class="btn btn-danger">MODIFICAR PRODUCTO</a>
						</div>
					</div>
					{% endif %}
						
					<form action="{% url 'add_cart' single_product.id %}" method="POST">
						{% csrf_token %}
						<article class="content-body">

						<h2 class="title">{{ single_product.title}}</h2>

						<div class="mb-3 border-top"> 
							<var class="text-muted">Categoria: {{single_product.category}}</var> 
						</div> 

						<h4>Descripción</h4>
						<div class="pb-3 mb-4 border-bottom">
							{{single_product.description | safe }}

						</div>
						{% if single_product.stock <= 0 %}
							<button type="button" class="btn btn-block btn-danger" disabled>Sin Stock</button>
						{% else %}
							{% if in_cart %}
								<div class="row align-items-center">
									<div class="col">
										<p class="h3 price">$ {{single_product.price}}</p>
									</div>
									<div class="col text-right">
										<button type="submit"  class="btn btn-block btn-primary"> <span class="text">Agregar otra unidad</span> <i class="fas fa-shopping-cart"></i></button>
										<a href="{% url 'cart' %}" class="btn btn-block btn-success mt-1"> <span class="text">Ver Carrito</span> <i class="fas fa-eye"></i></a>
									</div>
								</div
							{% else %}
								<div class="row align-items-center">
									<div class="col">
										<p class="h3 price">$ {{single_product.price}}</p>
									</div>
									<div class="col text-right">
										<button type="submit"  class="btn-lg btn-block btn-primary"> <span class="text">Agregar al carrito</span> <i class="fas fa-shopping-cart"></i></button>
									</div>
								</div>
							{% endif %}
						{% endif %}
						</article>
					</form>
				</main>
			</div>
		</div>
	</div>
</section>
{% endblock content %}